body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** hero section ***/
.hero-bg {
  background-color: #ffffff;
  position: relative;
}

.sizeable {
  padding-top: 250px;
}
.pics {
  position: relative;
  z-index: 2;
  margin-top: -500px
  
}
.blue-box {
  height: 220px;
  width: 200px;
  background-color: #0d6efd;
  position: relative;
  margin-top: 300px;
  margin-left: 180px;
  z-index: 1;
  margin-bottom: 120px;
  border-radius: 50px;
}


/** service image section **/
.image {
  border: 5px solid black
}
.image1 {
    background-image:
   -webkit-linear-gradient (to bottom, rgba(245, 246, 252, 0.52), rgba(73, 73, 255, 0.73)),
    url('/assests/img-2.jpg');
    width: 220px;
    height: 180px;
    background-size: cover;
    color: white;
    padding: 50px;
}

.image2 {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('/assests/img-3.jpg');
    width: 220px;
    height: 180px;
    background-size: cover;
    color: white;
    padding: 50px;
}

.image3 {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(73, 73, 255, 0.73)),
    url('/assests/img-4.jpg');
    width: 220px;
    height: 180px;
    background-size: cover;
    color: white;
    padding: 50px;
}


.service {
  margin: 10px;
  padding-top: 15px;
  padding-left: 30px;
  margin-left: 10px
}

#service-image {
  width: 250px
}

.try {
  margin-left: 50px;
}
